* {box-sizing: border-box;}

body, html {
	margin: 0px;
	overflow: hidden;
}

body {
  position: relative;
  cursor: ew-resize;
	background: #222;

	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none; 
}

.container {
	z-index: 5;
	overflow: hidden;
}

.img {
  position: fixed;
  width: 100%;
}

.img img {
  width: 100%;
  vertical-align: middle;
}

.img-right{
	margin-left: 50%;
	overflow: hidden;
}

.img-right img {
	position: relative;
	left: -50%;
}

.shadow-left,
.shadow-right{
  position: absolute;
  top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .0;
}

.info {
	z-index: 100;
	position: fixed;
	width: 100%;
	margin: 0px;
	padding: 16px;
	text-align: center;
	bottom: 0px;
	font-size: 54px;
}

.info .title-soon{
	font-family: 'Impact', 'Oswald', sans-serif;
	font-size: 54px;
	color: white;
	cursor: default;
	margin: 0px;
	line-height: 0.5em;
}

.info a {
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	font-size: 0.5em;
	color: black;
	background: yellow;
	padding: 5px 20px;
	border: 3px solid black;
  transform: skewX(-5deg);
  box-shadow: 1vmin 1vmin 0px -0.2vmin #D1381E;
}

.info a span{
	letter-spacing: .5em;
}

.info a:hover {
	background: #D1381E;
}

hr {
	height: 1px;
	background: white;
	margin: 4px;
	border: 1px solid white;
}

.mobile-tutorial:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.mobile-tutorial {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 101;
	display: none;
	background: black;
	text-align: center;
	opacity: .8;
	transition: all 0.5s ease;
}

.mobile-tutorial p {
	font-family: 'Oswald', sans-serif;
	color: white;
	display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none
}

a,
a:active, 
a:focus {
    outline: none;
}

@media screen and (max-width: 600px)  {

	.img-comp-slider {
		margin-left: -0.5px;
	  width: 1px;
	}

	.info {
		padding: 20px;
	}

	.info .title-soon {
		font-size: 36px;
	}

	.info a {
		padding: 0px 8px 4px 8px;
	}

	.info a span{
		letter-spacing: .3em;
	}

	.mobile-tutorial {
		display: block;
	}
}